{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/account/form_combined.css' %}">
        <title>{% block page_title %} Password Reset {% endblock %}</title>
    </head>
    <body>

        <h2>Reset your password</h2>

        <p>Enter your email address and we’ll send you a password reset link.</p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send reset email</button>
        </form>

    </body>
</html>
